<!DOCTYPE html>
<html lang="es" data-bs-theme="dark" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InkReserve - Dashboard</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>

<body>
	<div class="modal" id="ModalFormArtistas">
	  <div class="modal-dialog">
	    <div class="modal-content">
			<form method="POST" th:action="@{/nuevoArtistaCompleto}" th:object="${formularioArtista}">
				<input type="text" name="nombre" th:field="*{nombre}" placeholder="Nombre..." />
				<input type="text" name="especialidad" th:field="*{especialidad}" placeholder="Especialidad..." />
				<input type="number" name="preciHora" th:field="*{precioHora}" placeholder="Precio por hora..." />
				<input type="text" name="dni" th:field="*{dni}" placeholder="DNI..." />
				<input type="text" name="telefono" th:field="*{telefono}" placeholder="Telefono..." />
				<input type="text" name="numeroHigienico" th:field="*{numeroHigienico}" placeholder="Nº Higiénico Sanitario..." />
				<input type="number" name="experiencia" th:field="*{experiencia}" placeholder="Experiencia..." />
				<input type="submit" name="enviar" value="Enviar" />
			</form>
			<div class="modal-footer">
			  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
			</div>
        </div>
      </div>
	</div> 
</body>
</html>